# Python Einführung

**fett** schreiben  
*kursiv* _kursiv_ schreiben

## Erste Anweisung

In [3]:
# Dies ist ein Kommentar
print("Hello World! Hi")

Hello World! Hi

## Datentypen

In [4]:
# Variablen
name = "Lovelace"

In [5]:
print(name)

Lovelace

In [6]:
name

'Lovelace'

In [7]:
first_name = "Ada" #String

In [8]:
# Integer - Ganzzahlen
age = 73
print(age)

73

In [9]:
# Float - Gleitkommezahlen
size = 1.7123

In [10]:
# Boolean - Boolscher Wert
knows_math = True
print(knows_math)

True

In [11]:
5

5

In [12]:
name

'Lovelace'

In [13]:
knows_math
name

'Lovelace'

In [14]:
print(knows_math)
print(name)

True
Lovelace

In [15]:
type(size)

float

## Operatoren

In [16]:
5 + 5

10

In [17]:
age * 100

7300

In [18]:
name + name

'LovelaceLovelace'

In [19]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [20]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [21]:
name + "10"

'Lovelace10'

In [22]:
size/age

0.023456164383561642

In [27]:
number_of_articles = "50"

In [26]:
number_of_articles / 10

5.0

In [29]:
# String in integer umwandeln
int(number_of_articles) / 10

5.0

## Funktionen und Methoden

In [30]:
len(name)

8

In [31]:
name

'Lovelace'

In [32]:
name.upper()

'LOVELACE'

In [33]:
name.lower()

'lovelace'

In [34]:
name

'Lovelace'

In [37]:
name.count("e")

2

In [38]:
?name.count

In [39]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [42]:
int(str(age).replace("73", "10"))

10

In [43]:
age

73

## Listen und Dictonaries

In [45]:
# Liste
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [48]:
names[0]

'Lovelace'

In [49]:
names[3]

'Hawking'

In [50]:
names[-1]

'Hawking'

In [51]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [52]:
names[:2]

['Lovelace', 'Darwin']

In [53]:
names[2:]

['Curie', 'Hawking']

In [58]:
authors_and_birth_year = {"Lovelace":None, 
                          "Darwin": 1809, 
                          "Noether": 1882, 
                          "Hawking":1942}

In [64]:
authors_and_birth_year = {"Lovelace": 1882, 
                          "Darwin": 1809, 
                          "Noether": 1882, 
                          "Hawking":1942}

In [63]:
authors_and_birth_year["Darwin"]

1809

In [66]:
authors_and_birth_year

{'Lovelace': 1882, 'Darwin': 1809, 'Noether': 1882, 'Hawking': 1942}

In [67]:
%who

age	 authors_and_birth_year	 first_name	 knows_math	 name	 names	 number_of_articles	 size

## For-Schleifen

In [65]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [76]:
for person in names:
    print(person + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [69]:
person

'Hawking'

In [70]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

## Conditionals

In [77]:
temp = 20
if temp > 15:
    print("Es ist warm")

Es ist warm

In [78]:
20 > 15

True

In [79]:
temp = 10
if temp > 15:
    print("Es ist warm")

In [80]:
temp = 10
if temp > 15:
    print("Es ist warm")
else:
    print("Es ist kalt")

Es ist kalt

In [86]:
temp = 30
if temp > 25:
    print("Es ist heiß")
elif temp>=15:
    print("Es ist warm")
else:
    print("Es ist kalt")

Es ist heiß